@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
	ViewBag.Title = "YazarEkle";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="page-header">Yazar Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
	<div></div>
	<div style="margin-top:15px">
		<label>Yazar Adı</label>
		@Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
	</div>
	<div style="margin-top:15px">
		<label>Yazar Soyadı</label>
		@Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
	</div>
	<div style="margin-top:15px">
		<label>Yazar Detay</label>
		@Html.TextAreaFor(x => x.DETAY, new { @class = "form-control" })
	</div>
	<div style="margin-top:15px">
		<button class="btn btn-primary">Yeni Yazar Ekle</button>
	</div>

</form>
