@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>

<table class="table table-bordered">
	<tr>
		<th>Personel ID</th>
		<th>Personel ADI</th>
		<th>Sil</th>
		<th>Güncelle</th>
	</tr>
	@foreach (var x in Model)
	{
		<tr>
			<td>@x.ID</td>
			<td>@x.PERSONEL</td>
			<td><a href="/Personel/PersonelSil/@x.ID" class="btn btn-danger">Sil</a></td>
			<td><a href="/Personel/PersonelGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
		</tr>
	}

</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>

