@model MvcKutuphane.Models.Entity.TBLPERSONEL
@{
	ViewBag.Title = "PersonelGetir";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
	<div style="margin-top:15px"></div>
	<div class="form-group">
		@Html.LabelFor(x => x.ID)
		@Html.TextAreaFor(x => x.ID, new { @class = "form-control" })
		<br />
		@Html.LabelFor(x => x.PERSONEL)
		@Html.TextAreaFor(x => x.PERSONEL, new { @class = "form-control" })
	</div>
	<div>
		<button class="btn btn-warning">Güncelle</button>
	</div>
}
